@inherits PostCardBase
@using BlazorSite.BlogService

<div class="content-card">

    @if (PostDetails is null)
    {
        <p><center>Loading post data...</center></p>
    }
    else
    {
        <ConditionalLink Uri="@(!IsDetailedView ? PostDetails.PostId : null)">
            <div class="content-heroimage" style="background-image:url('@(BlogPostUriHelper.GetContentFileUri(PostDetails.PostId, PostDetails.HeroImageFile))')" />

            <div class="content-title">
                <p>
                    <b>@PostDetails.Title</b>
                    <br />
                    @PostDetails.PublishDate.ToLocalTime().ToString("f")
                </p>
            </div>
        </ConditionalLink>

        <MarkdownPresenter 
            PostId="@PostDetails.PostId" 
            FileName="@(IsDetailedView ? (PostDetails.MarkdownFile ?? PostDetails.SummaryMarkdownFile) : PostDetails.SummaryMarkdownFile)" />
    }
</div>