@inherits PostCardBase
@using BlazorSite.BlogService

<div class="content-card">

    @if (PostDetails is null)
    {
        <p><center>Loading post data...</center></p>
    }
    else
    {
        <ConditionalLink Uri="@(!IsDetailedView!.Value ? PostDetails.PostId : null)">
            <div class="content-heroimage" style="background-image:url('@(BlogPostUriHelper.GetContentFileUri(PostDetails.PostId, PostDetails.HeroImageFile))')" />

            <div class="content-title">
                <p>
                    <b>@PostDetails.Title</b>
                    <br />
                    @PostDetails.PublishDate.ToLocalTime().ToString("f")
                </p>
            </div>
        </ConditionalLink>

        <MarkdownPresenter PostId="@PostDetails.PostId"
                           FileName="@(IsDetailedView!.Value ? (PostDetails.MarkdownFile ?? PostDetails.SummaryMarkdownFile) : PostDetails.SummaryMarkdownFile)" />

        @if (IsDetailedView!.Value)
        {
            <center>
                <!-- Font Awesome -->
                <a href="JavaScript:newPopup('@GetTwitterShareUrl()');">
                    <svg class="share-icon" id="twitter" viewBox="0 0 1792 1792"><path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z" /></svg>
                </a>

                <a href="JavaScript:newPopup('@GetFacebookShareUrl()');">
                    <svg class="share-icon" id="facebook" viewBox="0 0 1792 1792"><path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z" /></svg>
                </a>

                @*<a href="JavaScript:newPopup('@GetLinkedInShareUrl()');">
                    <svg class="share-icon" id="linkedin" viewBox="0 0 1792 1792"><path d="M477 625v991h-330v-991h330zm21-306q1 73-50.5 122t-135.5 49h-2q-82 0-132-49t-50-122q0-74 51.5-122.5t134.5-48.5 133 48.5 51 122.5zm1166 729v568h-329v-530q0-105-40.5-164.5t-126.5-59.5q-63 0-105.5 34.5t-63.5 85.5q-11 30-11 81v553h-329q2-399 2-647t-1-296l-1-48h329v144h-2q20-32 41-56t56.5-52 87-43.5 114.5-15.5q171 0 275 113.5t104 332.5z" /></svg>
                </a>*@

                <a href="JavaScript:copyStringToClipboard('@GetSocialShareUrl()');">
                    <svg class="share-icon" id="link" viewBox="0 0 1792 1792"><path d="M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z" /></svg>
                </a>
            </center>
        }
    }
</div>