@page "/"
@inherits BlazorSite.Pages.IndexBase

<center><h1>Emil's Dev Blog</h1></center>

@if (BlogPosts is null)
{
    <p><center>Retrieving posts from GitHub...</center></p>
}
else
{
    foreach (var post in BlogPosts)
    {
        if (!(post.MarkdownFile is null))
        {
            <a href="@post.PostId" style="color: #000000">
                <BlazorSite.Shared.PostLayout PostDetails="@post">
                    <BlazorSite.Shared.MarkdownPresenter PostId="@post.PostId" FileName="@post.SummaryMarkdownFile" />
                </BlazorSite.Shared.PostLayout>
            </a>
        }
        else
        {
            <BlazorSite.Shared.PostLayout PostDetails="@post">
                <BlazorSite.Shared.MarkdownPresenter PostId="@post.PostId" FileName="@post.SummaryMarkdownFile" />
            </BlazorSite.Shared.PostLayout>
        }
    }
}